* .spon_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    max-height: 15rem;
    height: auto;
    margin: auto;
    background-color: #390e97;
}
.card_collection{
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    font-family: "Do Hyeon",sans-serif;
}
.card, .card_collection .card {
    width: 24rem;
    height: 25rem;
    padding: 1rem;
    float: left;
    clear: top;
    border-width: 0.5%;
    border-style: solid solid solid solid ;
    border-color: #060011;
    background-color: #390e9775;
    text-overflow: ellipsis;    
    backdrop-filter: blur(23px);
    margin: 2rem;

}

.spon_text{
    height: 6rem;
    font-size: medium;
    padding: 5%;
    color: #ffffff;
    /* opacity: 0%; */
    text-align: justify;
    /* text-overflow:ellipsis; */
    /* background-color: #390e97; */

}
.spon_type{
    font-size: xx-large;
    text-decoration:none;
    color: #f1e1ee;
    padding: 5px;
    margin-bottom: 2%;
    font-family: 'Segoe UI bold', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: 390e97;
}
#OurSponsors{
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    
}
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative');

.service-block-two {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.service-block-two .inner-box {
    position: relative;
    overflow: hidden;
    /* padding: 4px 4px; */
    border-radius: 6px;
    /* background-color: #f5f5f5; */
}
.service-block-two .inner-box:before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50%;
    opacity: 0;
    background-color: #141d38;
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
}
.service-block-two .inner-box .shape-one {
    content: '';
    width: 250px;
    height: 250px;
    background: #0060ff;
    border-radius: 50%;
    position: absolute;
    top: -120px;
    opacity: 0.4;
    right: -120px;
    transform: scale(0);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.service-block-two .inner-box .shape-two {
    content: '';
    width: 373px;
    height: 373px;
    background: #0060ff;
    border-radius: 50%;
    position: absolute;
    bottom: -180px;
    left: -180px;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.service-block-two .inner-box .icon-box {
    position: relative;
    font-size: 65px;
    line-height: 1em;
    color: #0060ff;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.service-block-two .inner-box .icon-box {
    position: relative;
    z-index: 2;
}
.service-block-two .inner-box .icon-box {
    position: relative;
    font-size: 65px;
    line-height: 1em;
    color: #0060ff;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.service-block-two .inner-box h5 {
    position: relative;
    z-index: 2;
    color: #222222;
    font-weight: 600;
    line-height: 1.3em;
    margin: 20px 0px 15px;
}
.service-block-two .inner-box .text {
    position: absolute;
    top:5rem;
    color: #222222;
    opacity: 0;
    text-overflow:initial;
    z-index: 2;
    font-size: 16px;
    line-height: 1.7em;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.service-block-two .inner-box:hover::before {
    height: 100%;
    opacity: 1;
}
.service-block-two .inner-box:hover .shape-one {
    transform: scale(1);
    -webkit-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    transition-delay: 300ms;
}
.service-block-two .inner-box:hover .shape-two {
    opacity: 0.4;
    transform: scale(1);
    -webkit-transition-delay: 400ms;
    -ms-transition-delay: 400ms;
    transition-delay: 400ms;
}

.service-block-two .inner-box:hover .icon-box, .service-block-two .inner-box:hover h3 , .service-block-two .inner-box:hover h5 a, .service-block-two .inner-box:hover .text {
    color: #ffffff;
    opacity: 100%;
}

*.spon_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    max-height: 15rem;
    height: auto;
    margin: auto;
    background-color: #390e97;    
}

h3{
    padding: auto;
    width: 10rem;
    position: absolute;
    top: -4rem;
    opacity: 0;
}

body{
    overflow: hidden;
    /* background-color: #390e97; */
    background-color: #800eb4;
    padding: 0px;
    margin: 0px;
}
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}