{%extends "layout.html"%}
{%block title%} Sponsors {%endblock%}

{%block body%}
<div class="name" id="OurSponsors">
    <h1> Acunetix 10.0 Sponsors</h1>
</div>
<div class="card_collection">
    <div class="card">
        <div class="spon_type">Sponsorship Type</div>
        <a href="#">
            <!-- <div class="spon_name">Sponsor Name</div> -->
            <img src="{{url_for('static', filename='spon_1.jpg')}}" class="spon_img" alt="...">
        </a>
        <div class="spon_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel convallis leo, sed
            tempor orci. Nulla vitae sem ac diam euismod semper. Mauris ullamcorper et diam ac sagittis. Fusce ac
            eros orci. Etiam ut arcu nisl. Nam non urna vulputate metus ornare feugiat. Phasellus pellentesque
            tristique suscipit.
        </div>
    </div>
    <div class="card">
        <div class="spon_type">Sponsorship Type</div>
        <br>
        <a href="#">
            <!-- <div class="spon_name">Sponsor Name</div> -->
            <img src="{{url_for('static', filename='spon_2.jpg')}}" class="spon_img" alt="...">
        </a>
        <div class="spon_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel convallis
            leo, sed tempor orci. Nulla vitae sem ac diam euismod semper. Mauris ullamcorper et diam ac sagittis.
            Fusce ac eros orci. Etiam ut arcu nisl. Nam non urna vulputate metus ornare feugiat. Phasellus
            pellentesque tristique suscipit..
        </div>
    </div>
    <div class="card">
        <div class="spon_type">Sponsorship Type</div>
        <a href="#">
            <!-- <div class="spon_name">Sponsor Name</div> -->
            <img src="{{url_for('static', filename='spon_4.png')}}" class="spon_img" alt="...">
        </a>
        <div class="spon_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel convallis leo, sed
            tempor orci. Nulla vitae sem ac diam euismod semper. Mauris ullamcorper et diam ac sagittis. Fusce ac
            eros orci. Etiam ut arcu nisl. Nam non urna vulputate metus ornare feugiat. Phasellus pellentesque
            tristique suscipit.
        </div>
    </div>
    <div class="card">
        <div class="spon_type">Sponsorship Type</div>
        <br>
        <a href="#">
            <!-- <div class="spon_name">Sponsor Name</div> -->
            <img src="{{url_for('static', filename='spon_5.png')}}" class="spon_img" alt="...">
        </a>
        <div class="spon_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel convallis
            leo, sed tempor orci. Nulla vitae sem ac diam euismod semper. Mauris ullamcorper et diam ac sagittis.
            Fusce ac eros orci. Etiam ut arcu nisl. Nam non urna vulputate metus ornare feugiat. Phasellus
            pellentesque tristique suscipit..
        </div>
    </div>
    <div class="card">
        <div class="spon_type">Sponsorship Type</div>
        <a href="#">
            <!-- <div class="spon_name">Sponsor Name</div> -->
            <img src="{{url_for('static', filename='spon_6.png')}}" class="spon_img" alt="...">
        </a>
        <div class="spon_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel convallis leo, sed
            tempor orci. Nulla vitae sem ac diam euismod semper. Mauris ullamcorper et diam ac sagittis. Fusce ac
            eros orci. Etiam ut arcu nisl. Nam non urna vulputate metus ornare feugiat. Phasellus pellentesque
            tristique suscipit.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit vitae aperiam fugit quibusdam non eaque
            ipsam suscipit beatae fuga corporis.
        </div>
    </div>
    <div class="card">
        <div class="spon_type">Sponsorship Type</div>
        <br>
        <a href="#">
            <!-- <div class="spon_name">Sponsor Name</div> -->
            <img src="{{url_for('static', filename='spon_2.jpg')}}" class="spon_img" alt="...">
        </a>
        <div class="spon_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel convallis
            leo, sed tempor orci. Nulla vitae sem ac diam euismod semper. Mauris ullamcorper et diam ac sagittis.
            Fusce ac eros orci. Etiam ut arcu nisl. Nam non urna vulputate metus ornare feugiat. Phasellus
            pellentesque tristique suscipit..
        </div>
    </div>
</div>

{%endblock%}